<a href="https://colab.research.google.com/github/kareemullah123456789/1112232/blob/master/Section_2_Resilient_Distributed_Datasets_Transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning PySpark
### Video series

### Packt Publishing

**Author**: Tomasz Drabas
**Date**:   2017-12-10





# Section 2: Resilient Distributed Datasets - Transformations

In this section we will look at the Resilient Distributed Datasets (RDDs) and the transformations available.

## Creating RDDs
### Parallelize a collection
#### 1000 random numbers

In [1]:
!pip install pyspark --quiet
!pip install pyngrok

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done
Collecting pyngrok
  Downloading pyngrok-7.2.0-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: PyYAML>=5.1 in /usr/local/lib/python3.10/dist-packages (from pyngrok) (6.0.2)
Downloading pyngrok-7.2.0-py3-none-any.whl (22 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.2.0

In [ ]:
spark.stop()

In [ ]:


# If a SparkContext is running, stop it
if 'sc' in locals():
    sc.stop()

In [4]:
from pyngrok import ngrok

# Replace "your_auth_token" with your actual ngrok token
ngrok.set_auth_token("2mn3JmxhS2Tva5L5LPlVPg8vENL_6F56KMq9DJaoH2bRUEhBz")

In [5]:
public_url = ngrok.connect(4040)
print(f"Access Spark UI at: {public_url}")

WARNING:pyngrok.process.ngrok:t=2024-10-11T16:19:14+0000 lvl=warn msg="can't bind default web address, trying alternatives" obj=web addr=127.0.0.1:4040

Access Spark UI at: NgrokTunnel: "https://2d10-35-243-193-139.ngrok-free.app" -> "http://localhost:4040"

In [2]:
from pyspark import SparkContext
import numpy as np

# Initialize Spark context
sc = SparkContext("local", "RandomNumberApp")

In [6]:


import numpy as np

random_numbers = sc.parallelize([np.random.rand() for _ in range(1000)], 4)
random_numbers

ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:289

In [7]:
random_numbers.take(2)

[0.3321082205021352, 0.8924510055610154]

#### Tuples

In [8]:
rdd_random_tuples = sc.parallelize([
      ("Mark",  43, "6'1\"")
    , ("Stella",23, "5'6\"")
    , ("Skye",   6, "3'11\"")
    , ("Albert", 1, "2'7\"")
])
rdd_random_tuples.take(2)

[('Mark', 43, '6\'1"'), ('Stella', 23, '5\'6"')]

### Reading from files
The `sample_data.csv` was created based on the data found here: http://www.contextures.com/xlSampleData01.html.

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
!ls /content/drive/MyDrive/learningsparkdata

births_train.csv  births_train.csv.gz  ccFraud.csv  ccFraud.csv.gz  sample_data.csv

In [12]:
rdd_from_file = sc.textFile('/content/drive/MyDrive/learningsparkdata/sample_data.csv', 4)
rdd_from_file.take(2)

['OrderDate,Region,Rep,Item,Units,UnitCost,Total',
 '1/6/16,East,Jones,Pencil,95,1.99,189.05']

## Schema of an RDD
### Structured data

In [13]:
rdd_valid_structured = sc.parallelize([
      ('Tom', 0)
    , ('Spark', 1)
])

### Unstructured data
Sample Linux log data, source: https://www.cyberciti.biz/faq/linux-log-files-location-and-how-do-i-view-logs-files/

In [14]:
rdd_valid_unstructured = sc.parallelize([
      ('Jul 17 22:04:25 router  dnsprobe[276]: dns query failed')
    , ('Jul 17 22:04:29 router last message repeated 2 times')
    , ('Jul 17 22:04:29 router  dnsprobe[276]: Primary DNS server Is Down... Switching To Secondary DNS server')
    , ('Jul 17 22:05:08 router  dnsprobe[276]: Switching Back To Primary DNS server')
    , ('Jul 17 22:26:11 debian -- MARK --')
    , ('Jul 17 22:46:11 debian -- MARK --')
    , ('Jul 17 22:47:36 router  -- MARK --')
    , ('Jul 17 22:47:36 router  dnsprobe[276]: dns query failed')
])

### Heterogeneous data

In [15]:
rdd_valid_heterogeneous = sc.parallelize([
      ('Toll invoice number', 'TRE2321')
    , {'Last bill balance': 0.00, 'New bill balance': 23.92}
    , ['2017-11-12 12:32:34PM', '2017-11-14 1:32:56PM']
])

## Understanding lazy execution

In [16]:
names_only = rdd_valid_structured.map(lambda element: element[0])

In [17]:
names_only.collect()

['Tom', 'Spark']

## .map(...) transformation
### Using lambdas

In [18]:
def splitOnComma(inputString):
    return inputString.split(',')

for el in rdd_from_file.map(splitOnComma).take(2):
    print(el)

['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'UnitCost', 'Total']
['1/6/16', 'East', 'Jones', 'Pencil', '95', '1.99', '189.05']

In [19]:
for el in rdd_from_file.map(lambda element: element.split(',')).take(2):
    print(el)

['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'UnitCost', 'Total']
['1/6/16', 'East', 'Jones', 'Pencil', '95', '1.99', '189.05']

### Transforming data

In [21]:
def convertToFloat(inputString):
    try:
        return float(inputString)
    except:
        return -666

to_filter = rdd_from_file \
    .map(lambda element: element.split(',')) \
    .map(lambda element:
         [e for e in element[:4]] +
         [convertToFloat(e) for e in element[4:]]
    )

to_filter.take(2)

[['OrderDate', 'Region', 'Rep', 'Item', -666, -666, -666],
 ['1/6/16', 'East', 'Jones', 'Pencil', 95.0, 1.99, 189.05]]

## .filter(...) transformation

In [22]:
filtered = to_filter.filter(lambda element: element[4] != -666)
filtered.take(2)

[['1/6/16', 'East', 'Jones', 'Pencil', 95.0, 1.99, 189.05],
 ['2017-03-02', 'Central', 'Kivell', 'Binder', 50.0, 19.99, 999.5]]

## .flatMap(...) transformation
### .map to flatMap comparison

In [23]:
def mapExample(inputList):
    outputList = []

    for item in inputList:
        temp = item.copy()
        temp[1] *= 10

        outputList.append(temp)
    return outputList

def flatMapExample(inputList):
    outputList = []

    for item in inputList:
        temp = item.copy()
        temp[1] *= 10

        outputList += temp

    return outputList

sampleList = [
      [1, 3]
    , [2, 4]
    , [3, 5]
    , [4, 6]
]

print(mapExample(sampleList))
print(flatMapExample(sampleList))

[[1, 30], [2, 40], [3, 50], [4, 60]]
[1, 30, 2, 40, 3, 50, 4, 60]

### Filtering malformed records

In [24]:
import datetime as dt

def parseCSVRow(inputRow):
    try:
        rowSplit = inputRow.split(',')
        rowSplit[0] = dt.datetime.strptime(rowSplit[0], '%m/%d/%y')
        rowSplit[4] = int(rowSplit[4])

        for i in [5,6]:
            rowSplit[i] = float(rowSplit[i])

        return [rowSplit]
    except:
        return []

rdd_from_file.map(parseCSVRow).take(3)

[[],
 [[datetime.datetime(2016, 1, 6, 0, 0),
   'East',
   'Jones',
   'Pencil',
   95,
   1.99,
   189.05]],
 []]

In [25]:
rdd_from_file.map(parseCSVRow).filter(lambda element: len(element) > 0).take(3)

[[[datetime.datetime(2016, 1, 6, 0, 0),
   'East',
   'Jones',
   'Pencil',
   95,
   1.99,
   189.05]],
 [[datetime.datetime(2016, 2, 9, 0, 0),
   'Central',
   'Jardine',
   'Pencil',
   36,
   4.99,
   179.64]],
 [[datetime.datetime(2016, 2, 26, 0, 0),
   'Central',
   'Gill',
   'Pen',
   27,
   19.99,
   539.73]]]

In [28]:
rdd_from_file_clean = rdd_from_file.flatMap(parseCSVRow)
rdd_from_file_clean.take(3)

[[datetime.datetime(2016, 1, 6, 0, 0),
  'East',
  'Jones',
  'Pencil',
  95,
  1.99,
  189.05],
 [datetime.datetime(2016, 2, 9, 0, 0),
  'Central',
  'Jardine',
  'Pencil',
  36,
  4.99,
  179.64],
 [datetime.datetime(2016, 2, 26, 0, 0),
  'Central',
  'Gill',
  'Pen',
  27,
  19.99,
  539.73]]

## .distinct(...) transformation

### Understanding the distinct method

In [26]:
sampleList = [1,1,1,4,3,4,6,4,8,6,9]

distinct = []
seen = {}

for elem in sampleList:
    if elem in seen:
        continue
    else:
        distinct.append(elem)
        seen[elem] = 1

print(distinct)

[1, 4, 3, 6, 8, 9]

### Finding distinct in RDD

In [29]:
items = rdd_from_file_clean.map(lambda element: element[3]).distinct()
items.collect()

['Desk', 'Pencil', 'Pen', 'Binder', 'Pen Set']

In [30]:
rdd_from_file_clean.map(lambda element: element[2]).distinct().count()

11

## .sample(...) transformation

In [31]:
rdd_from_file_clean.count()

42

In [32]:
rdd_from_file_clean.sample(False, 0.2).count()

8

## .join(...) transformation

### The mechanics of join

In [33]:
a = sc.parallelize([('a', 2), ('b', 3)])
b = sc.parallelize([('a', 4), ('b', 4), ('c', 4)])

a.join(b).collect()

[('b', (3, 4)), ('a', (2, 4))]

### Append location

In [34]:
cities = sc.parallelize([
      ('East', 'Boston')
    , ('Central', 'Chicago')
    , ('West', 'Seattle')
])

rdd_from_file_clean \
    .map(lambda element: (element[1], element)) \
    .join(cities) \
    .map(lambda element: element[1][0] + [element[1][1]]) \
    .take(2)

[[datetime.datetime(2016, 2, 9, 0, 0),
  'Central',
  'Jardine',
  'Pencil',
  36,
  4.99,
  179.64,
  'Chicago'],
 [datetime.datetime(2016, 2, 26, 0, 0),
  'Central',
  'Gill',
  'Pen',
  27,
  19.99,
  539.73,
  'Chicago']]

## .repartition(...) transformation

In [35]:
rdd_from_file_clean.getNumPartitions()

4

In [36]:
rdd_from_file_repartitioned = rdd_from_file.repartition(2)
rdd_from_file_repartitioned.getNumPartitions()

2

In [37]:
rdd_from_file_repartitioned_sorted = rdd_from_file_clean \
    .map(lambda element: (int(element[6]), element)) \
    .repartitionAndSortWithinPartitions(2, lambda x: x) \
    .map(lambda element: tuple(element[1]))

rdd_from_file_repartitioned_sorted.glom() \
    .collect()

[[(datetime.datetime(2017, 10, 31, 0, 0),
   'Central',
   'Andrews',
   'Pencil',
   14,
   1.29,
   18.06),
  (datetime.datetime(2017, 11, 17, 0, 0),
   'Central',
   'Jardine',
   'Binder',
   11,
   4.99,
   54.89),
  (datetime.datetime(2017, 5, 14, 0, 0),
   'Central',
   'Gill',
   'Pencil',
   53,
   1.29,
   68.37),
  (datetime.datetime(2016, 12, 12, 0, 0),
   'Central',
   'Smith',
   'Pencil',
   67,
   1.29,
   86.43),
  (datetime.datetime(2016, 8, 15, 0, 0),
   'East',
   'Jones',
   'Pencil',
   35,
   4.99,
   174.65),
  (datetime.datetime(2016, 9, 1, 0, 0),
   'Central',
   'Smith',
   'Desk',
   2,
   125.0,
   250.0),
  (datetime.datetime(2017, 7, 21, 0, 0),
   'Central',
   'Morgan',
   'Pen Set',
   55,
   12.49,
   686.95)],
 [(datetime.datetime(2017, 9, 10, 0, 0),
   'Central',
   'Gill',
   'Pencil',
   7,
   1.29,
   9.03),
  (datetime.datetime(2017, 2, 18, 0, 0),
   'East',
   'Jones',
   'Binder',
   4,
   4.99,
   19.96),
  (datetime.datetime(2016, 7, 12, 0, 0),
   'East',
   'Howard',
   'Binder',
   29,
   1.99,
   57.71),
  (datetime.datetime(2016, 5, 22, 0, 0),
   'West',
   'Thompson',
   'Pencil',
   32,
   1.99,
   63.68),
  (datetime.datetime(2017, 4, 10, 0, 0),
   'Central',
   'Andrews',
   'Pencil',
   66,
   1.99,
   131.34),
  (datetime.datetime(2017, 3, 7, 0, 0),
   'West',
   'Sorvino',
   'Binder',
   7,
   19.99,
   139.93),
  (datetime.datetime(2017, 12, 21, 0, 0),
   'Central',
   'Andrews',
   'Binder',
   28,
   4.99,
   139.72),
  (datetime.datetime(2016, 4, 18, 0, 0),
   'Central',
   'Andrews',
   'Pencil',
   75,
   1.99,
   149.25),
  (datetime.datetime(2017, 9, 27, 0, 0),
   'West',
   'Sorvino',
   'Pen',
   76,
   1.99,
   151.24),
  (datetime.datetime(2016, 3, 15, 0, 0),
   'West',
   'Sorvino',
   'Pencil',
   56,
   2.99,
   167.44),
  (datetime.datetime(2016, 2, 9, 0, 0),
   'Central',
   'Jardine',
   'Pencil',
   36,
   4.99,
   179.64),
  (datetime.datetime(2016, 1, 6, 0, 0),
   'East',
   'Jones',
   'Pencil',
   95,
   1.99,
   189.05),
  (datetime.datetime(2017, 3, 24, 0, 0),
   'Central',
   'Jardine',
   'Pen Set',
   50,
   4.99,
   249.5),
  (datetime.datetime(2016, 10, 5, 0, 0),
   'Central',
   'Morgan',
   'Binder',
   28,
   8.99,
   251.72),
  (datetime.datetime(2016, 9, 18, 0, 0),
   'East',
   'Jones',
   'Pen Set',
   16,
   15.99,
   255.84),
  (datetime.datetime(2016, 4, 1, 0, 0),
   'East',
   'Jones',
   'Binder',
   60,
   4.99,
   299.4),
  (datetime.datetime(2016, 11, 8, 0, 0),
   'East',
   'Parent',
   'Pen',
   15,
   19.99,
   299.85),
  (datetime.datetime(2017, 7, 4, 0, 0),
   'East',
   'Jones',
   'Pen Set',
   62,
   4.99,
   309.38),
  (datetime.datetime(2017, 1, 15, 0, 0),
   'Central',
   'Gill',
   'Binder',
   46,
   8.99,
   413.54),
  (datetime.datetime(2016, 5, 5, 0, 0),
   'Central',
   'Jardine',
   'Pencil',
   90,
   4.99,
   449.1),
  (datetime.datetime(2016, 6, 25, 0, 0),
   'Central',
   'Morgan',
   'Pencil',
   90,
   4.99,
   449.1),
  (datetime.datetime(2016, 11, 25, 0, 0),
   'Central',
   'Kivell',
   'Pen Set',
   96,
   4.99,
   479.04),
  (datetime.datetime(2017, 4, 27, 0, 0),
   'East',
   'Howard',
   'Pen',
   96,
   4.99,
   479.04),
  (datetime.datetime(2016, 2, 26, 0, 0),
   'Central',
   'Gill',
   'Pen',
   27,
   19.99,
   539.73),
  (datetime.datetime(2016, 6, 8, 0, 0),
   'East',
   'Jones',
   'Binder',
   60,
   8.99,
   539.4),
  (datetime.datetime(2016, 10, 22, 0, 0),
   'East',
   'Jones',
   'Pen',
   64,
   8.99,
   575.36),
  (datetime.datetime(2017, 6, 17, 0, 0),
   'Central',
   'Kivell',
   'Desk',
   5,
   125.0,
   625.0),
  (datetime.datetime(2017, 5, 31, 0, 0),
   'Central',
   'Gill',
   'Binder',
   80,
   8.99,
   719.2),
  (datetime.datetime(2017, 8, 24, 0, 0),
   'West',
   'Sorvino',
   'Desk',
   3,
   275.0,
   825.0),
  (datetime.datetime(2017, 8, 7, 0, 0),
   'Central',
   'Kivell',
   'Pen Set',
   42,
   23.95,
   1005.9),
  (datetime.datetime(2017, 10, 14, 0, 0),
   'West',
   'Thompson',
   'Binder',
   57,
   19.99,
   1139.43),
  (datetime.datetime(2016, 12, 29, 0, 0),
   'East',
   'Parent',
   'Pen Set',
   74,
   15.99,
   1183.26),
  (datetime.datetime(2017, 2, 1, 0, 0),
   'Central',
   'Smith',
   'Binder',
   87,
   15.0,
   1305.0),
  (datetime.datetime(2016, 7, 29, 0, 0),
   'East',
   'Parent',
   'Binder',
   81,
   19.99,
   1619.19),
  (datetime.datetime(2017, 12, 4, 0, 0),
   'Central',
   'Jardine',
   'Binder',
   94,
   19.99,
   1879.06)]]

In [ ]:
rdd_from_file_repartitioned_sorted.getNumPartitions()